// Hangman!
// Word is Poo
#include <iostream>
using namespace std;

void hanger(int x) // Function added for display of current hangman status
{
    if (x==7)
    {
        cout << "|-----\n";
        cout << "|     \n";
        cout << "|     \n";
        cout << "|     \n";
        cout << "|     \n";
        cout << "|     \n";
        cout << "------\n";
    }
	if (x == 6)
	{
		cout << "|-----\n";
		cout << "|   | \n";
		cout << "|     \n";
		cout << "|     \n";
		cout << "|     \n";
		cout << "|     \n";
		cout << "------\n";
	}
	else if (x == 5)
	{
		cout << "|-----\n";
		cout << "|   | \n";
		cout << "|   O \n";
		cout << "|     \n";
		cout << "|     \n";
		cout << "|     \n";
		cout << "------\n";
	}
	else if (x == 4)
	{
		cout << "|-----\n";
		cout << "|   | \n";
		cout << "|   O \n";
		cout << "|   | \n";
		cout << "|     \n";
		cout << "|     \n";
		cout << "------\n";
	}
	else if (x == 3)
	{
		cout << "|-----\n";
		cout << "|   | \n";
		cout << "|   O \n";
		cout << "|  <| \n";
		cout << "|     \n";
		cout << "|     \n";
		cout << "------\n";
	}
	else if (x == 2)
	{
		cout << "|-----\n";
		cout << "|   | \n";
		cout << "|   O \n";
		cout << "|  <|>\n";
		cout << "|     \n";
		cout << "|     \n";
		cout << "------\n";
	}
	else if (x == 1)
	{
		cout << "|-----\n";
		cout << "|   | \n";
		cout << "|   O \n";
		cout << "|  <|>\n";
		cout << "|  (  \n";
		cout << "|     \n";
		cout << "------\n";
	}
	else if (x == 0)
	{
		cout << "|-----\n";
		cout << "|   | \n";
		cout << "|   O \n";
		cout << "|  <|>\n";
		cout << "|  ( )\n";
		cout << "|     \n";
		cout << "------\n";
	}
}

int main ()
{
    // Declare Variables
    char entry;
    string pOne = "Today's sentence is 'I just took a _ _ _'\n";
    string pTwo = "Today's sentence is 'I just took a P _ _'\n";
    string pThree = "Today's sentence is 'I just took a _ o o'\n";
    string pFour = "Today's sentence is 'I just took a P o o'\n";
    int stat;

    // Request User Input
    cout << "Welcome to Hangman!\n";
    cout << pOne;
    cout << "Enter your guess: ";
    cin >> entry;

    // The Rest
    entry = tolower(entry);
    stat = 7;
    if (entry == 'p' || entry == 'o')
    {
        start:
        while (entry == 'p' || entry == 'o')
        {
            if (entry == 'p') 
            {
              // store guess
            }
            else if (entry == 'o')
            {
              // store guess
            }
            cout << "Correct!\n";
            hanger(stat);
            cout << pOne << "\n";
            if () // if theyve guessed both p/o and not the other
            {
                cout << "Enter your guess: ";
                cin >> entry;
            }
            else if () // if theyve guessed p and o
            {
                cout << "Congrats you won!";
                break;
            }
        }
    }
    else
    {
        while (entry != 'o' || entry != 'p') // runs down stat until stat=0 and they lose
        {
            --stat;
            cout << "Incorrect!\n";
            hanger(stat);
            if (stat >0)
            {
                cout << "Enter your guess: ";
                cin >> entry;
                entry = tolower(entry);
                if (entry == 'p' || entry == 'o')
                {
                    goto start;
                }
            }
            else
            {
                cout << "Sorry you lose.";
                break;
            }
        }
    }
    return 0;
}
